# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# MacOS
.DS_Store

# Docker/OSRM Data
osrm-data/
*.osrm*
*.pbf

# IDEs
.vscode/
.idea/

# Frontend / Node
node_modules/
.next/
*.log
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*